<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/normalize.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/inicio.css">
    <link rel="stylesheet" href="../static/styles/styles_barra.css">
    <link rel="stylesheet" href="../static/styles/Aventuras_proximas.css">
    <link rel="stylesheet" href="../static/styles/styleformularioemergente.css">
    <script src="../static/js/js/checkbox.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css">
</head>
<body>
    <header>
        <div class="navbar" >
            <span id="openBtn" class="btn-icon" onclick="openNav()" >&#9776;</span> 

            <img src="../static/assets/icons/Logo.svg" class="img-nav" alt="Logo" id="logoImage">
            <button type="button" id="btnTriggerSB" class="btn-icon">
                <img src="../static/assets/icons/lupaGoogl.png" alt="Buscar" class="img-nav">
            </button>
            
        </div>

        <div class="container-modal-sidebar" id="modalSidebar">
            <div id="sidebar" class="sidebar">
                <div class="user">
                    <p>Hola, </p><b id="nombreUsuario"> {{ user_name }} </b> 
                </div>
                <div class="sidebar-text">
                    <a href="/history" class="btn-sidebar"> 
                        <img src="../static/assets/icons/itinerarioIcono.png" class="sidebar-img"> Lugares Visitados 
                    </a>
                    <a href="/favorites" class="btn-sidebar"> 
                        <img src="../static/assets/icons/favoritosBlancoRosa.png" class="sidebar-img"> Lugares favoritos 
                    </a>
                    
                </div>

                <div class="sidebar-text" style="margin-top: auto;">
                    <a href="/myAccount" class="btn-sidebar"> 
                        <img src="../static/assets/icons/engraneIcon.png" class="sidebar-img"> Cuenta 
                    </a>
                    <a href="/suggestions" class="btn-sidebar"> 
                        <img src="../static/assets/icons/Bandera.png" class="sidebar-img" style="border-radius: 0;"> Enviar comentarios <br>de la aplicación
                    </a>
                    <a href="/logout" class="btn-sidebar" id="cerrarSesion"> 
                        <img src="../static/assets/icons/cerrarIcono.png" class="sidebar-img"> Cerrar Sesión 
                    </a>
                </div>
                <button type="button" id="closeBtn" class="closeBtn btn-icon" onclick="closeNav()">&times;</a>
            </div>
        </div>  
    </header>

    <main> 
        
        <div id="map" ></div>
        <div id="filters">
            <button type="button" id="filterBtn" class="filterBtn">Filtrar</a>
        </div>
        <div id="filters-expanded" class="filters-expanded">
            <div id="contenedorMamalonFiltros">
                <div>
                    <b>Recomendados</b>
                    <div id="recommendedFilters">
                        <div>
                            <input type="checkbox" id="filter2" class="checkbox-button" value="pozoleria">
                            <label for="filter2">Pozoleria</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter3" class="checkbox-button" value="taqueria">
                            <label for="filter3">Taqueria</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter4" class="checkbox-button" value="garnachas">
                            <label for="filter4">Garnachas</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter5" class="checkbox-button" value="antojitos">
                            <label for="filter5">Antojitos</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter9" class="checkbox-button" value="churreria">
                            <label for="filter9">Churreria</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter21" class="checkbox-button" value="birrieria">
                            <label for="filter21">Birrieria</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter62" class="checkbox-button" value="marisqueria">
                            <label for="filter62">Marisqueria</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter65" class="checkbox-button" value="carnitas">
                            <label for="filter65">Carnitas</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter75" class="checkbox-button" value="cemitas">
                            <label for="filter75">Cemitas</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter90" class="checkbox-button" value="tlayuderia">
                            <label for="filter90">Tlayuderia</label>
                        </div>
                </div>
                <div>
                    <b>Más Filtros</b>
                    <div id="moreFilters">
                        <div>
                            <input type="checkbox" id="filter1" class="checkbox-button" value="mole">
                            <label for="filter1">Mole</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter6" class="checkbox-button" value="menuderia">
                            <label for="filter6">Menuderia</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter7" class="checkbox-button" value="pambaceria">
                            <label for="filter7">Pambaceria</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter8" class="checkbox-button" value="enfrijoladas">
                            <label for="filter8">Enfrijoladas</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter10" class="checkbox-button" value="cocteleria">
                            <label for="filter10">Cocteleria</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter11" class="checkbox-button" value="pulqueria">
                            <label for="filter11">Pulqueria</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter12" class="checkbox-button" value="tacoria">
                            <label for="filter12">Tacoria</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter13" class="checkbox-button" value="mezcaleria">
                            <label for="filter13">Mezcaleria</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter14" class="checkbox-button" value="gorditas">
                            <label for="filter14">Gorditas</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter15" class="checkbox-button" value="caldos">
                            <label for="filter15">Caldos</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter16" class="checkbox-button" value="enchiladeria">
                            <label for="filter16">Enchiladeria</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter17" class="checkbox-button" value="tamaleria">
                            <label for="filter17">Tamaleria</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter18" class="checkbox-button" value="huaracheria">
                            <label for="filter18">Huaracheria</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter19" class="checkbox-button" value="tostadas">
                            <label for="filter19">Tostadas</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter20" class="checkbox-button" value="quesadilleria">
                            <label for="filter20">Quesadilleria</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter22" class="checkbox-button" value="esquites">
                            <label for="filter22">Esquites</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter23" class="checkbox-button" value="elotes">
                            <label for="filter23">Elotes</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter24" class="checkbox-button" value="chamorro">
                            <label for="filter24">Chamorro</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter25" class="checkbox-button" value="barbacoa">
                            <label for="filter25">Barbacoa</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter26" class="checkbox-button" value="guisados">
                            <label for="filter26">Guisados</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter27" class="checkbox-button" value="tamales">
                            <label for="filter27">Tamales</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter28" class="checkbox-button" value="chilaquiles">
                            <label for="filter28">Chilaquiles</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter29" class="checkbox-button" value="carnitas">
                            <label for="filter29">Carnitas</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter30" class="checkbox-button" value="tlacoyos">
                            <label for="filter30">Tlacoyos</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter31" class="checkbox-button" value="empanadas">
                            <label for="filter31">Empanadas</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter32" class="checkbox-button" value="huaraches">
                            <label for="filter32">Huaraches</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter33" class="checkbox-button" value="tortas ahogadas">
                            <label for="filter33">Tortas ahogadas</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter34" class="checkbox-button" value="parrilladas">
                            <label for="filter34">Parrilladas</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter35" class="checkbox-button" value="cochinita pibil">
                            <label for="filter35">Cochinita pibil</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter36" class="checkbox-button" value="cabrito">
                            <label for="filter36">Cabrito</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter37" class="checkbox-button" value="panuchos">
                            <label for="filter37">Panuchos</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter38" class="checkbox-button" value="Tinga">
                            <label for="filter38">Tinga</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter39" class="checkbox-button" value="estilo Jalisco">
                            <label for="filter39">Estilo Jalisco</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter40" class="checkbox-button" value="ceviche veracruzano">
                            <label for="filter40">Ceviche veracruzano</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter41" class="checkbox-button" value="cecina">
                            <label for="filter41">Cecina</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter42" class="checkbox-button" value="chiles rellenos">
                            <label for="filter42">Chiles rellenos</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter43" class="checkbox-button" value="picadillo">
                            <label for="filter43">Picadillo</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter44" class="checkbox-button" value="escamoles">
                            <label for="filter44">Escamoles</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter45" class="checkbox-button" value="burritos">
                            <label for="filter45">Burritos</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter46" class="checkbox-button" value="capirotada">
                            <label for="filter46">Capirotada</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter47" class="checkbox-button" value="Chalupas">
                            <label for="filter47">Chalupas</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter48" class="checkbox-button" value="nachos">
                            <label for="filter48">Nachos</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter49" class="checkbox-button" value="Molletes">
                            <label for="filter49">Molletes</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter50" class="checkbox-button" value="Arrachera">
                            <label for="filter50">Arrachera</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter51" class="checkbox-button" value="pastes">
                            <label for="filter51">Pastes</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter52" class="checkbox-button" value="buñuelos">
                            <label for="filter52">Buñuelos</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter53" class="checkbox-button" value="mixiotes">
                            <label for="filter53">Mixiotes</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter54" class="checkbox-button" value="Sopa tarasca">
                            <label for="filter54">Sopa tarasca</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter55" class="checkbox-button" value="Machitos">
                            <label for="filter55">Machitos</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter56" class="checkbox-button" value="Alambre">
                            <label for="filter56">Alambre</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter57" class="checkbox-button" value="Sopes">
                            <label for="filter57">Sopes</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter58" class="checkbox-button" value="Tampiqueña">
                            <label for="filter58">Tampiqueña</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter59" class="checkbox-button" value="Gorditas de nata">
                            <label for="filter59">Gorditas de nata</label>
                        </div>
                        <div>
                            <input type="checkbox" id="filter60" class="checkbox-button" value="Sopa de lima">
                            <label for="filter60">Sopa de lima</label>
                        </div>
                </div>
            </div>
                </div>
            </div>
            <div id="filtersSummit">
                <button type="button" id="filterSend" class="filtersSummit">Aplicar filtros</button>
                <button type="button" id="filterErase" class="filtersSummit">Borrar filtros</button>
            </div>
        </div>
        <div class="card" id="card" style="height: 130px !important; bottom: 6% !important;">
            <img src="../static/assets/icons/Flecha_pa_arriba.PNG" id="ToogleExpandir">
                <!--Parte del div que se verá al minimizardo-->
                <!-- <div class="Msg-recomendar"> Te recomendamos...</div> -->
                <div class="place-about">
                        <div class="img-referente" id="img-referente" style="align-items: center;">
                            <img src="../static/assets/icons/Lugarejemplo.PNG" width="64px" height="64px" style="margin:0px 4px;">
                        </div>

                    <div class="place-info">
                        <div class="info-add">
                            <img src="../static/assets/icons/promocionNegroIcon.png" width="15px" height="15px" style="margin:0px 4px;">
                            <div class="info-name" id="info-name">Aqui va el nombre del lugar</div>
                        </div>
                        <div class="info-calification">
                        <!--Se debe agregar la funcionalidad para colorear las estrellas-->
                            <div class="calification-puntaje" id="calification-puntaje">
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                            </div>
                            <div class="calification-number" id="calification-number">4.5/5</div>
                        </div>
                        <div class="info-more">
                        <!--Aquí irá el tipo de lugar-->
                            <div class="more-type" id="more-type">Sitio de interes1</div>
                            <div class="more-direction" id="more-direction"> Av. 56, San Rafael</div>
                        </div>
                        <div class="info-horario">
                            <div class="horario-status" id="horario-status" style="color: green;">Abierto</div>
                            <div class="horario-day" id="horario-day">cierra a la 1 a.m.</div>
                        </div>
                    </div>
                    <div class="place-favorite">
                        <div class="favorite-icon" style="align-items: center;">
                            <img src="../static/assets/icons/favoritosIcon.png" id= "favorito" width="32px" height="32px" style="margin:0px 4px;">
                        </div>
                    </div>
                </div>
                <div class="place-comentario" id="place-comentario">
                    <div class="comentario-user" id="comentario-user">
                        <img src="../static/assets/icons/Perfil.png" width="32px" height="32px" style="margin:0px 4px; border-radius: 50%;">
                    </div>
                    <div class="comentario-texto" id="comentario-texto">
                        "Siempre vengo a relajarme a este lugar"
                    </div>
                </div>

                <!--Esta es la parte del div que se verá al expandirlo-->
            <div class="card-expandida" id="card-expandida">
                <div class="place-header-about">
                    <div class="header-img">
                        <div class="img-referente1" id="img-referente1" style="align-items: center;">
                            <img src="../static/assets/icons/Lugarejemplo.PNG" width="72px" height="72px" style="margin:0px 4px;">
                        </div>
                        <div class="visitado" id="visitado">Visitado</div>
                    </div>
                        <div class="header-name" id="header-name">
                            Parque de las Esculturas
                        </div>
                </div>
                <!--Botones e información importante del sitio-->
                <div class="place-body-details">
                    <div class="body-button-left" style="align-items: center;">
                        <div class="flecha-icon" style="align-items: center;">
                            <a class="dropdown-item" href="#" id="Alternar">                            
                                <img src="../static/assets/icons/flechaBackAzul.png" id= "flecha" width="32px" height="32px" style="margin:0px 4px;">
                            </a>
                        </div>
                        <br>
                        <div class="itineriario-icon dropdown-toggle" id="selectorItinerario" data-bs-toggle="dropdown" style="align-items: center;" hidden>
                            <img src="../static/assets/icons/agregarItinIconV2.png" id= "itinerario" width="30px" height="40px" style="margin:0px 4px;">
                            <ul class="dropdown-menu" id="itinerariosDisponibles">
                                <!-- Aqui se insertan los itinerarios existentes-->
                                
                                <li<a class="dropdown-item" href="#" id="nuevoItinerario" onclick="mostrarFormulario()">
                                    <img src="../static/assets/icons/agregarIcon2.png" width="24px" height="24px">
                                    Agregar a itinerario nuevo
                                </a></li>
                            </ul>
                        </div>
                        <div id="formulario-flotante">
                            <h2 id="ITINERARIO">Crear Itinerario</h2>
                            <form>
                              <label for="NombreItinerario">Nombre Itinerario</label>
                              <input id="NomIti" type="text" id="NombreItinerario">
                              <button id="btnCerrar" type="button" onclick="ocultarFormulario()">Cerrar</button>
                              <button id="btnGuardar" type="button" onclick="validateForm()">Aceptar</button>
                            </form>
                          </div>
                    </div>
                    <script>

                        // Función para mostrar el formulario
                        function mostrarFormulario() {
                          document.getElementById('formulario-flotante').style.display = 'block';
                        }
                        function validateForm() {
                            const nombreItinerario = document.getElementById('NomIti');
                            if (nombreItinerario.value.trim() === '') {
                                showAlert('El nombre del itinerario no ha sido llenado');
                                highlightInvalidField(nombreItinerario);
                                return false;
                            } else {
                                removeHighlight(nombreItinerario);
                            }

                            if (nombreItinerario.value.trim().length < 5 || nombreItinerario.value.trim().length > 15) {
                                showAlert('El nombre del itinerario debe tener entre 5 y 15 caracteres.');
                                highlightInvalidField(nombreItinerario);
                                return false;
                            } else {
                                showDone('');
                                removeHighlight(nombreItinerario);
                                ocultarFormulario();
                            }
                            return true;
                        }

                        // Función para ocultar el formulario
                        function ocultarFormulario() {
                          document.getElementById('formulario-flotante').style.display = 'none';
                          const nombreItinerario = document.getElementById('NomIti');
                            nombreItinerario.value = '';
                        }

                        function showAlert(message) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: message,
                                });
                            }

                            function showDone(message) {
                                Swal.fire({
                                    position: "top-end",
                                    icon: "success",
                                    title: "¡Lugar agregado en tu Itinerario creado!",
                                    showConfirmButton: false,
                                    timer: 1500,
                                    onOpen: () => {
            // Centrar manualmente el cuadro de diálogo
            const modal = Swal.getPopup();
            modal.style.left = `${(window.innerWidth - modal.offsetWidth) / 2}px`;
            modal.style.top = `${(window.innerHeight - modal.offsetHeight) / 2}px`;
        }
                                });
                            }

                            function highlightInvalidField(field) {
                                field.style.borderColor = 'red';
                            }

                            function removeHighlight(field) {
                                field.style.borderColor = ''; // Reset to default
                            }
                      </script>
                      <script>
function showAlert(message) {
    alert(message);
}

                    </script>
                    

                    <div class="body-details">
                        <div class="details-score">
                            <div id="stars-container">
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                            </div>
                            <div class="score-number" id="score-number">4.5/5</div>
                        </div>
                        <div class="details-domicilio">
                            <img src="../static/assets/icons/ubicacionIcon.png" width="15px" height="15px" style="margin:0px 4px;">
                            <div class="domicilio-text" id="details-domicilio">Av. 56, San Rafael, 54730 Cuautitlán Izcalli, Méx.</div>
                        </div>
                        <div class="details-horario">
                            <img src="../static/assets/icons/reloj2.png" width="15px" height="15px" style="margin:0px 4px;">
                            <div class="horario-detalles">
                                <div class="horario-text" id="horario-text">Abierto  hasta las 10:00 p.m.</div>
                                    <!-- Arreglo que muestra detalles del horario de apertura del lugar -->
                                        <div class="weekend-text" style="display: none;">
                                            <div class="lunes" id="lunes">Lunes: </div>
                                            <div class="martes" id="martes">Martes: </div>
                                            <div class="miercoles" id="miercoles">Miércoles: </div>
                                            <div class="jueves" id="jueves">Jueves: </div>
                                            <div class="viernes" id="viernes">Viernes: </div>
                                            <div class="sabado" id="sabado">Sábado: </div>
                                            <div class="domingo" id="domingo">Domingo: </div>
                                        </div>
                                <img src="../static/assets/icons/expandir.png" id="ToogleHorario" width="10px" height="10px" style="margin:0px 4px;">
                            </div>
                        </div>
                        <div class="details-phone">
                            <img src="../static/assets/icons/telefonoIcon.png" width="15px" height="15px" style="margin:0px 4px;">
                            <div class="phone-text" id="phone-text">No posee</div>
                        </div>
                        <div class="details-site">
                            <img src="../static/assets/icons/sitioIcono.png" width="15px" height="15px" style="margin:0px 4px;">
                            <div class="site-text" id="site-text">Sin sitio web</div>
                        </div>
                    </div>
                    <div class="body-button-right">
                        <div class="favorite-icon" style="align-items: center;">
                            <img src="../static/assets/icons/favoritosIcon.png" id= "favorito1" width="32px" height="32px" style="margin:0px 4px;">
                        </div>
                        <br>
                        <div class="ckeck-icon" style="align-items: center;">
                            <img src="../static/assets/icons/checked.png" id= "check" width="32px" height="32px" style="margin:0px 4px;">
                        </div>
                    </div>
                </div>
                <hr class="divisor"/>
                <!--Imagenes de otros turistas-->
                <div class="photos">
                    <p class="subtitle">Fotos de otros turistas</p>
                    <!--Carrusel de imágenes-->
                    <div class="container-photos">
                        <div id="noPhotos" class="noInfo"></div>
                        <div class="photo-big" id="photo-big">
                            <img src="../static/assets/icons/Lugarejemplo.PNG" id="foto1" width="128px" height="128px" style="margin:0px 4px;">
                        </div>
                        <div class="parPhoto1" id="parPhoto1">
                            <div class="photo2" id="photo2">
                            </div>
                            <div class="photo3" id="photo3">
                            </div>
                        </div>
                        <div class="parPhoto2" id="parPhoto2">
                            <div class="photo4" id="photo4">
                            </div>
                            <div class="photo5" id="photo5">
                            </div>
                        </div>
                        <div class="parPhoto3" id="parPhoto2">
                            <div class="photo6" id="photo6">
                            </div>
                            <div class="photo7" id="photo7">
                            </div>
                        </div>
                        <div class="parPhoto4" id="parPhoto2">
                            <div class="photo8" id="photo8">
                            </div>
                            <div class="photo9" id="photo9">
                            </div>
                        </div>
                        <div class="parPhoto5" id="parPhoto2">
                            <div class="photo10" id="photo10">
                            </div>
                            <div class="photo11" id="photo11">
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="divisor1"/>
                <!--Comentarios de otros turistas-->
                <div class="comments">
                    <p class="subtitle">Reseñas</p>
                    <div class="noInfo" id="noReviews"></div>
                    <div class="btn-group" role="group">
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">
                                <span class="star" style="color: gold;">&#9733;</span>
                                <span class="star" style="color: black;">&#9733;</span>
                                <span class="star" style="color: black;">&#9733;</span>
                                <span class="star" style="color: black;">&#9733;</span>
                                <span class="star" style="color: black;">&#9733;</span>
                            </a></li>
                            <li><a class="dropdown-item" href="#">
                                <span class="star" style="color: gold;">&#9733;</span>
                                <span class="star" style="color: gold;">&#9733;</span>
                                <span class="star" style="color: black;">&#9733;</span>
                                <span class="star" style="color: black;">&#9733;</span>
                                <span class="star" style="color: black;">&#9733;</span>
                            </a></li>
                            <li><a class="dropdown-item" href="#">
                                <span class="star" style="color: gold;">&#9733;</span>
                                <span class="star" style="color: gold;">&#9733;</span>
                                <span class="star" style="color: gold;">&#9733;</span>
                                <span class="star" style="color: black;">&#9733;</span>
                                <span class="star" style="color: black;">&#9733;</span>
                            </a></li>
                            <li><a class="dropdown-item" href="#">
                                <span class="star" style="color: gold;">&#9733;</span>
                                <span class="star" style="color: gold;">&#9733;</span>
                                <span class="star" style="color: gold;">&#9733;</span>
                                <span class="star" style="color: gold;">&#9733;</span>
                                <span class="star" style="color: black;">&#9733;</span>
                            </a></li>
                            <li><a class="dropdown-item" href="#">
                                <span class="star" style="color: gold;">&#9733;</span>
                                <span class="star" style="color: gold;">&#9733;</span>
                                <span class="star" style="color: gold;">&#9733;</span>
                                <span class="star" style="color: gold;">&#9733;</span>
                                <span class="star" style="color: gold;">&#9733;</span>
                            </a></li>
                        </ul>
                    </div>

                    <div class="comentario" id="comentario">
                        <div class="comentario-perfil" id="comentario-perfil">
                           <img src="../static/assets/icons/Perfil.png" width="32px" height="32px" style="margin:0px 4px; border-radius: 50%;">
                        </div>
                        <div class="comentario-contenido">
                            <div class="user-dates">
                                <div class="comentario-name" id="comentario-name">José Cervantes</div>
                                <div class="comentario-cal" id="comentario-cal">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                </div>
                            </div>
                            <div class="comentario-completo" id="comentario-completo">Siempre vengo a relajarme a este lugar.</div>
                        </div>
                    </div>

                    <div class="comentario1" id="comentario1">
                        <div class="comentario-perfil" id="comentario-perfil1">
                            <img src="../static/assets/icons/Perfil.png" width="32px" height="32px" style="margin:0px 4px; border-radius: 50%;">
                         </div>
                         <div class="comentario-contenido">
                             <div class="user-dates">
                                 <div class="comentario-name" id="comentario-name1">José Cervantes</div>
                                 <div class="comentario-cal" id="comentario-cal1">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                 </div>
                             </div>
                             <div class="comentario-completo" id="comentario-completo1">Siempre vengo a relajarme a este lugar.</div>
                         </div>
                    </div>

                    <div class="comentario2" id="comentario2">
                        <div class="comentario-perfil" id="comentario-perfil2">
                            <img src="../static/assets/icons/Perfil.png" width="32px" height="32px" style="margin:0px 4px; border-radius: 50%;">
                         </div>
                         <div class="comentario-contenido">
                             <div class="user-dates">
                                 <div class="comentario-name" id="comentario-name2">José Cervantes</div>
                                 <div class="comentario-cal" id="comentario-cal2">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                 </div>
                             </div>
                             <div class="comentario-completo" id="comentario-completo2">Siempre vengo a relajarme a este lugar.</div>
                         </div>
                    </div>

                    <div class="comentario3" id="comentario3">
                        <div class="comentario-perfil" id="comentario-perfil3">
                            <img src="../static/assets/icons/Perfil.png" width="32px" height="32px" style="margin:0px 4px; border-radius: 50%;">
                         </div>
                         <div class="comentario-contenido">
                             <div class="user-dates">
                                 <div class="comentario-name" id="comentario-name3">José Cervantes</div>
                                 <div class="comentario-cal" id="comentario-cal3">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                 </div>
                             </div>
                             <div class="comentario-completo" id="comentario-completo3">Siempre vengo a relajarme a este lugar.</div>
                         </div>
                    </div>

                    <div class="comentario4" id="comentario4">
                        <div class="comentario-perfil" id="comentario-perfil4">
                            <img src="../static/assets/icons/Perfil.png" width="32px" height="32px" style="margin:0px 4px; border-radius: 50%;">
                         </div>
                         <div class="comentario-contenido">
                             <div class="user-dates">
                                 <div class="comentario-name" id="comentario-name4">José Cervantes</div>
                                 <div class="comentario-cal4" id="comentario-cal4">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                </div>
                             </div>
                             <div class="comentario-completo" id="comentario-completo4">Siempre vengo a relajarme a este lugar.</div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <div id="modalCrearItinerario" class="modal">
        <div class="modal-content">
            <span class="close-button">×</span>
            <h2>Crear Nuevo Itinerario</h2>
            <div class="modal-body">
                <!-- Aquí puedes poner formularios o cualquier otro contenido que necesites -->
            </div>
            <div class="modal-footer">
                <button id="botonGuardarItinerario">Guardar Itinerario</button>
            </div>
        </div>
    </div>


    <!-- Ventana modal de SearchBox -->
    <div class="container-modal" id="cModalSearchBox">
        <div class="content-modal">
            <!-- Barra de busqueda -->  
            <div class="container-search-box">         
                <!-- Boton regresar/cerrar -->
                <button type="button" id="btnClose" class="btn-icon" aria-label="Regresar">
                    <img src="../static/assets/icons/flechaBack.png" alt="Regresar">
                </button>
                <!-- Input Barra de busqueda -->
                <input class="form-control-search-box" id="SearchBox" type="text" placeholder="Busca un lugar o categoría">
                <!-- Boton borrar busqueda -->
                <button type="button" id="btnClear" class="btn-icon" aria-label="Borrar"
                onclick="document.getElementById('SearchBox').value='' ">
                <img src="../static/assets/icons/borrarIconNegro.png" width="30px" height="30px" alt="Borrar">
                </button>
            </div>
            <!-- Resultados patrocinados -->
            <div class="container-results" id="containerSponsored">
                <hr class="hr-modal">
                <div class="title-results">
                    <h5 style="margin: 0">Patrocinados</h5>
                    <img src="../static/assets/icons/promocionNegroIcon.png" width="16px" height="16px" style="margin-left: 4px;" alt="Patrocinados">
                </div>
                <!-- Botones insertados -->
                <!-- Tendran esta estructura -->
                <!--
                    <button type="button" class="btn-sponsored">
                        <div class="container-info-sponsored">
                        <div class="" style="align-items: center;">
                            <img src="/assets/icons/promocionNegroIcon.png" width="32px" height="32px" style="margin:0px 4px;">
                        </div>

                        <div class="sponsored-place-info">
                            <div class="sponsored-name">Siete sopas</div>
                            <div class="sponsored-data">
                            <div class="sponsored-type">Restaurante |</div>
                            <div class="sponsored-direction">| Av. 56, San Rafael</div>
                            </div>
                            <div class="sponsored-schedules">
                            <div class="sponsored-open" style="color: green;">Abierto</div>
                            <div class="sponsored-hour">cierra a la 1 a.m.</div>
                            </div>
                        </div>
                        </div>
                    </button>
                    
                -->
                    
            </div>
            <!-- Resultados de API Places -->
            <div class="container-results" id="containerResultsPlaces">
                <hr class="hr-modal">
                <div class="title-results" style="margin-bottom: 0">
                    <h5 style="margin: 0; font-weight: bold; font-size: medium;">Resultados cerca de ti</h5>
                </div>
                <div id="results">
                    <!-- Aqui se insertan las casillas de autocompletado -->
                </div>
            </div>
        </div>
    </div>
    
    <script src="../static/js/js/toogle_modal.js"></script>
    <script src="../static/js/js/expandir.js"></script>
    <script src="../static/js/js/expandir-weekend.js"></script>
    <script type="module" src="../static/js/js/jquery-3.7.1.min.js"></script>
    <script src="../static/js/js/botones.js"></script>
    <script type="module" src="../static/js/ARCY-PRUEBAS/places2.js"></script>
    <!-- <script type="module" src="js/places.js"></script> -->
    <script src="../static/js/js/map.js"></script>
	<script 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAekYSupobjKSVkjrtsq6pGNDjmYlT6Uoc&callback=initAutocomplete&libraries=places&v=weekly"
        defer
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
