<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi cuenta</title>
    <link rel="stylesheet" href="/static/styles/normalize.css">
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="stylesheet" href="/static/styles/styles_perfil.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <!-- Aquí agregamos un bloque para mostrar los mensajes flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <script>
                {% if category == 'error' %}
                    Swal.fire({
                        icon: "error",
                        text: '{{ message }}',
                        showConfirmButton: false,
                        timer: 3000 
                    });
                {% elif category == 'success' %}
                    Swal.fire({
                        icon: "success",
                        text: '{{ message }}',
                        showConfirmButton: false,
                        timer: 3000 
                    });
                {% else %}
                    Swal.fire({
                        icon: "info",
                        text: '{{ message }}',
                        showConfirmButton: false,
                        timer: 3000 
                    });
                {% endif %}
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}

    <header>
        <div class="navbar">
            <span id="openBtn" class="btn-icon" onclick="openNav()">&#9776;</span>
            <a href="/home"> <!-- Agregamos un enlace a la página home -->
                <img src="/static/assets/icons/Logo.svg" class="img-nav" alt="Logo" id="logoImage">
            </a>
        </div>
        
        <div class="page-title">
            <h2 class="h1-title">Configuración de Cuenta</h2>
        </div>

        <div class="container-modal-sidebar" id="modalSidebar">
            <div id="sidebar" class="sidebar">
                <div class="user">
                    <p>Hola, </p><b id="nombreUsuario">{{ user_name }}</b> 
                </div>
                <div class="sidebar-text">
                    <a href="/pages/Aventuras_proximas.html" class="btn-sidebar"> 
                        <img src="/static/assets/icons/itinerarioIcono.png" class="sidebar-img"> Aventuras 
                    </a>
                    <a href="/pages/MisFavoritos.html" class="btn-sidebar"> 
                        <img src="/static/assets/icons/favoritosBlancoRosa.png" class="sidebar-img"> Lugares favoritos 
                    </a>
                </div>

                <div class="sidebar-text" style="margin-top: auto;">
                    <a href="/myAccount" class="btn-sidebar"> 
                        <img src="/static/assets/icons/engraneIcon.png" class="sidebar-img"> Cuenta 
                    </a>
                    <a href="/suggestions" class="btn-sidebar"> 
                        <img src="/static/assets/icons/Bandera.png" class="sidebar-img" style="border-radius: 0;"> Enviar comentarios <br>de la aplicación
                    </a>
                    <a href="/logout" class="btn-sidebar"> 
                        <img src="/static/assets/icons/cerrarIcono.png" class="sidebar-img"> Cerrar Sesión 
                    </a>
                </div>
                <button type="button" id="closeBtn" class="closeBtn btn-icon" onclick="closeNav()">&times;</button>
            </div>
        </div>  
    </header>
    <main>
        <div class="container-data">
            <div class="userH">
                <p id="name"></p>
                <p id="type">Turista</p>
            </div>

            <!-- Formulario para actualizar nombre -->
            <form id="updateName" class="form-profile" method="post" action="/updateName" novalidate>
                <label for="name" class="label-profile">Nombre</label><br>
                <div class="container-input" id="contInputName">
                    <input type="text" id="nameInput" name="name" placeholder="{{ user_name }}" class="input-profile" required disabled>
                    <button type="button" class="btn-icon" id="editName">
                        <img src="/static/assets/icons/editarIcono.png" style="width:24px; height:24px;">
                    </button>
                </div>
                <div class="btn-form-profile hidden" id="buttonsName">
                    <button type="button" class="btn-cancel" id="cancelUpdateName">
                        Cancelar
                    </button>
                    <button type="submit" class="btn-save" id="doUpdateName" form="updateName">
                        Aceptar
                    </button>
                </div>
            </form>

            <!-- Formulario para actualizar apellido -->
            <form id="updateLastName" class="form-profile" method="post" action="/updateLastName" novalidate>
                <label for="lastname" class="label-profile">Apellido</label><br>
                <div class="container-input" id="contInputLastName">
                    <input type="text" id="lastname" name="lastname" placeholder="{{ user_lastname }}" class="input-profile" required disabled>
                    <button type="button" class="btn-icon" id="editLastName">
                        <img src="/static/assets/icons/editarIcono.png" style="width:24px; height:24px;">
                    </button>
                </div>
                <div class="btn-form-profile hidden" id="buttonsLastName">
                    <button type="button" class="btn-cancel" id="cancelUpdateLastName">
                        Cancelar
                    </button>
                    <button type="submit" class="btn-save" id="doUpdateLastName" form="updateLastName">
                        Aceptar
                    </button>
                </div>
            </form>

            <form id="updateEmail" class="form-profile" method="post" action="/updateEmail" novalidate>
                <label for="email" class="label-profile">Correo electrónico</label><br>
                <div class="container-input" id="contInputEmail">
                    <input type="email" id="email" name="email" placeholder="{{ user_email }}" class="input-profile" required disabled>
                    <!-- <button type="button" class="btn-icon" id="editEmail">
                        <img src="/static/assets/icons/editarIcono.png" style="width:24px; height:24px;">
                    </button> -->
                </div>
                <div class="btn-form-profile hidden" id="buttomsEmail">
                    <button type="button" class="btn-cancel" id="cancelUpdateEmail">
                        Cancelar
                    </button>
                    <button type="submit" class="btn-save" id="doUpdateEmail" form="updateEmail">
                        Aceptar
                    </button>
                </div>
            </form>

            <form id="updatePassword" class="form-profile" method="post" action="/updatePassword" novalidate>
                <label for="password" class="label-profile" id="labelPassword">Contraseña</label><br>
                <div class="container-input" id="contInputPassword">
                    <div class="password-container">
                        <input type="password" id="password" name="password" placeholder="Nueva contraseña" class="input-profile" required disabled>
                        <img src="/static/assets/icons/Boton ojoA.svg" alt="Mostrar contraseña" id="togglePassword">
                    </div>
                    <button type="button" class="btn-icon" id="editPassword">
                        <img src="/static/assets/icons/editarIcono.png" style="width:24px; height:24px;">
                    </button>
                </div>
                <div class="btn-form-profile hidden" id="buttomsPassword">
                    <button type="button" class="btn-cancel" id="cancelUpdatePassword">
                        Cancelar
                    </button>
                    <button type="submit" class="btn-save" id="doUpdatePassword" form="updatePassword">
                        Aceptar
                    </button>
                </div>
            </form>

            <div class="container-delete">
                <button type="button" class="btn-deleteAcc" id="btnDeleteAccount">
                    <h3 style="margin: 0;">Borrar cuenta</h3>
                    <img src="/static/assets/icons/basureroIcon.png" width="32px" height="32px">
                </button>
                <!-- Ventana modal -->
                <div class="container-modal" id="cModalAlertDelete">
                </div>
            </div>
        </div>
    </main>

    <script type="module" src="/static/js/js/jquery-3.7.1.min.js"></script>
    <script type="module" src="/static/js/js/Hide.js"></script>
    <script src="../static/js/js/map.js"></script>
    <script type="module" src="/static/js/js/MostrarOpciones.js"></script>
</body>
</html>
