<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="../static/styles/normalize.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/styles_register.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>
</head>
<body>
    <div class="container">
        <img src="../static/assets/icons/Logo.PNG" alt="Logo" class="logo">
        <h1>Ingresa tus datos</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <script>
                        Swal.fire({
                            icon: "error",
                            text: '{{ message }}',
                            showConfirmButton: false,
                            timer: 3000 
                        });
                    </script>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="{{ url_for('register') }}" method="post" id="loginFormRegister">
            <input type="text" id="name" name="name" placeholder="Nombre(s)" required>
            <input type="text" id="lastname" name="lastname" placeholder="Apellidos" required>
            <input type="email" id="email" name="email" placeholder="Correo electrónico" required>

            <div class="password-container">
                <input type="password" id="password" name="password" placeholder="Contraseña" required>
                <img src="../static/assets/icons/Boton ojoA.svg" alt="Mostrar contraseña" id="togglePassword">
            </div>
            <div class="password-container">
                <input type="password" id="passwordRE" name="passwordRE" placeholder="Confirmar contraseña" required>
                <img src="../static/assets/icons/Boton ojoA.svg" alt="Mostrar contraseña" id="togglePassword">
            </div>

            <div class="container-date-gene">
                <div class="datebirth">
                    <label for="birthdate">Fecha de nacimiento</label>
                    <input type="date" id="birthdate" name="birthdate" placeholder="Nacimiento" required>
                </div>
            </div>
            <button type="submit" id="next">Siguiente</button>
        </form>
    </div>
    <script src="/static/js/js/Hide.js"></script>
    <!-- <script src="/static/js/js/validation_register.js"></script> -->
</body>
</html>
